<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>luckkids | 럭키즈</title>
	<link rel="icon" href="/templates/favicon.ico" type="image/x-icon">
</head>
<body>
<div style="text-align: center; margin-top: 50px;">
	<h2>이메일 인증 실패</h2>
	<hr style="border: 2px solid #ddd; width: 100%; margin: 20px auto;">

	<p th:if="${message}" th:text="${message}"></p>
	<p th:unless="${message}">이메일 인증을 다시 시도해주세요.</p>
</div>
</body>
</html>