name: Java CI with Gradle

on:
  pull_request:
    types: [ opened, reopened ]
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: π€ μ„λΈλ¨λ“ μ¶”κ°€
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GIT_TOKEN }}
          submodules: true

      - name: π€ JDK 17 μ„Έν…
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: π€ gradlew μ‹¤ν–‰ κ¶ν• μ„¤μ •
        run: chmod +x gradlew

      - name: π€ λΉ„λ°€ μ„¤μ • νμΌ λ³µμ‚¬
        run: ./gradlew copySecret

      - name: π€ ν…μ¤νΈ μ§„ν–‰
        env:
          MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
          DEV_DB_PASSWORD: ${{ secrets.DEV_DB_PASSWORD }}
          PROD_DB_PASSWORD: ${{ secrets.PROD_DB_PASSWORD }}
        run: ./gradlew test
        
