name: Java CI with Gradle

on:
  pull_request:
    types: [ opened, reopened, synchronize ]
    branches: [ "main" ]

permissions:
  contents: read
  checks: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: π€ μ„λΈλ¨λ“ μ¶”κ°€
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GIT_TOKEN }}
          submodules: true

      - name: π€ JDK 17 μ„Έν…
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: π€ gradlew μ‹¤ν–‰ κ¶ν• μ„¤μ •
        run: chmod +x gradlew

      - name: π€ λΉ„λ°€ μ„¤μ • νμΌ λ³µμ‚¬
        run: ./gradlew copySecret

      - name: π€ ν…μ¤νΈ μ§„ν–‰
        env:
          MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
          DEV_DB_PASSWORD: ${{ secrets.DEV_DB_PASSWORD }}
          PROD_DB_PASSWORD: ${{ secrets.PROD_DB_PASSWORD }}
        run: ./gradlew test

      - name: π€ ν…μ¤νΈ κ²°κ³Ό Report
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: 'build/test-results/**/*.xml'

      - name: π€ ν…μ¤νΈ μ‹¤ν¨ Comment
        uses: mikepenz/action-junit-report@v3
        if: always()
        with:
          report_paths: 'build/test-results/test/TEST-*.xml'

      - name: π€ ν…μ¤νΈ μ‹¤ν¨μ‹ μ¬λ™ μ•λ¦Ό
        if: failure()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: '#λ­ν‚¤μ¦-μ„λ²„-λ°°ν¬-μ•λ¦Ό'
          SLACK_COLOR: ${{ job.status }}
          SLACK_MESSAGE: 'ν…μ¤νΈ μ‹¤ν¨: ${{ github.repository }}'
          SLACK_ICON: https://cdn-icons-png.flaticon.com/512/3400/3400195.png
          SLACK_TITLE: 'λ­ν‚¤μ¦ μ„λ²„ PR ν…μ¤νΈ μ‹¤ν¨ μ•λ¦Ό π€'
          SLACK_USERNAME: GitHub Actions
          SLACK_WEBHOOK: ${{ secrets.SLACK_GIT_ACTIONS_WEBHOOK_URL }}
